{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "exclude": ["transform-es2015-typeof-symbol"]
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "loose": true,
            "exclude": ["transform-es2015-typeof-symbol"]
          }
        ],
        "react"
      ],
      "plugins": ["emotion"]
    }
  }
}
